fastapi
uvicorn[standard]
pydantic
pydantic-settings
pandas
langchain
langchain-community
langchain_chroma
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-experimental==0.3.2
sentence-transformers
chromadb
pipelines
python-dotenv
pypdf
python-multipart
streamlit
torchvision
huggingface-hub
transformers==4.56.1
accelerate
torch